<!DOCTYPE html>
<html>
{% load i18n admin_urls static leaflet_tags %}

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
    <title>Pops MapView</title>
    {% block extra_assets %}
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet"
        href="/css/map_styles.css"
        type="text/css">
    {% endblock %}
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 map-sidebar">
                <div class="load-count">
                    <h5>Loaded Pops : <strong>{{ pops_count }}</strong></h5>
                    <!-- <button class="btn btn-primary" id="load-all-btn">Load All Entries</button> -->
                </div>
                <div class="form-group">
                    <label for="isp-type">ISP Type</label>
                    <select class="form-control"
                        id="isp-type">
                        <option value=0>----ALL----</option>
                        {% for itype in isp_types %}
                        <option value="{{ itype.id }}">{{ itype.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="provider">Provider</label>
                    <select class="form-control"
                        id="provider">
                        <option value=0>----ALL----</option>
                        {% for pvdr in providers %}
                        <option value="{{ pvdr.user.id }}">{{ pvdr.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="division">Division</label>
                    <select class="form-control"
                        id="division">
                        <option value=0>----ALL----</option>
                        {% for div in divisions %}
                        <option value="{{ div.id }}">{{ div.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="district">District</label>
                    <select class="form-control"
                        id="district">
                        <option value=0>----ALL----</option>
                        {% for dist in districts %}
                        <option value="{{ dist.id }}">{{ dist.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="upazilla">Upazilla</label>
                    <select class="form-control"
                        id="upazilla">
                        <option value=0>----ALL----</option>
                        {% for upz in upazillas %}
                        <option value="{{ upz.id }}">{{ upz.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="ward">Ward</label>
                    <select class="form-control"
                        id="ward">
                        <option value=0>----ALL----</option>
                        {% for ward in wards %}
                        <option value="{{ ward.id }}">{{ ward.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <hr />
                <div class="form-group">
                    <label for="lat">Latitude</label>
                    <input type="number"
                        name="Latitude"
                        class="form-control"
                        id="lat">
                </div>
                <div class="form-group">
                    <label for="lon">Longitude</label>
                    <input type="number"
                        name="Longitude"
                        class="form-control"
                        id="lon">
                </div>
                <div class="form-group">
                    <label for="rad">Radius (Km)</label>
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="number"
                                name="Radius (Km)"
                                class="form-control"
                                id="rad"
                                value=5>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-secondary"
                                id="load-loc-btn"
                                title="LOAD">LOAD</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 map-content">
                {% leaflet_map "fullmap" callback="window.map_init" %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script>
        var sanitizeJSON = function (json) {
            return json.replace(/&quot;/g, '"') //remove &quot
                // preserve spacing delimeters
                .replace(/\\n/g, "\\n")
                .replace(/\\'/g, "\\'")
                .replace(/\\"/g, '\\"')
                .replace(/\\&/g, "\\&")
                .replace(/\\r/g, "\\r")
                .replace(/\\t/g, "\\t")
                .replace(/\\b/g, "\\b")
                .replace(/\\f/g, "\\f")
                // remove non-printable and other non-valid JSON chars
                .replace(/[\u0000-\u0019]+/g, "");
        };

        var getPopUpFor = function(pop) {
            return "<p><strong>ID</strong> : <strong>" + pop['id'] + "</strong></br>" + "<strong>Provider</strong> : " + pop['provider'] + "</br>" + "<strong>ISP Type</strong> : " + pop['isp_type'] + "</br>" + "<strong>Address</strong> : " + pop['pop_address'] + "</br>" + "<strong>Contact Info</strong> : " + pop['contact_info'] + "</br>" + "<strong>Latitude</strong> : " + pop['lat'] + "</br>" + "<strong>Longitude</strong> : " + pop['lon'] + "</p>"
        }

        var getUrlVars = function () {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }

        var getUrlParam = function (parameter, defaultvalue) {
            var urlparameter = defaultvalue;
            if (window.location.href.indexOf(parameter) > -1) {
                urlparameter = getUrlVars()[parameter];
            }
            return urlparameter;
        }

        var cleanUrlParams = function () {
            var path = window.location.toString();
            if (path.indexOf("?") > 0) {
                var clean_path = path.substring(0, path.indexOf("?"));
                window.history.replaceState({}, document.title, clean_path);
            }
            return;
        }

        var redirectWithParamFilter = function (param, val) {
            path = window.location.href;
            if (parseInt(val) !== 0) {
                path += '?';
                path += param + '=' + val;
            }
            console.log('Routing to ...', path);
            window.location.replace(path);
        }

        var redirectWithLocationFilter = function (lat, lon, rad) {
            path = window.location.href;
            path += '?';
            path += 'lat=' + lat;
            path += '&';
            path += 'lon=' + lon;
            path += '&';
            path += 'rad=' + rad;
            console.log('Routing to ...', path);
            window.location.replace(path);
        }

        // var resetOtherFiltersExcept = function(param_str) {
        //     const param_list = ['isp-type', 'provider', 'division', 'district', 'upazilla', 'ward']
        //     for (param of param_list) {
        //         if (param !== param_str) {
        //             $("#"+param).val(0).change();
        //         }
        //     }
        // }

        var setExistingFromUrlParam = function () {
            const existing_isp_type = getUrlParam('isp-type', null);
            const existing_provider = getUrlParam('provider', null);
            const existing_division = getUrlParam('division', null);
            const existing_district = getUrlParam('district', null);
            const existing_upazilla = getUrlParam('upazilla', null);
            const existing_ward = getUrlParam('ward', null);
            const existing_lat = getUrlParam('lat', null);
            const existing_lon = getUrlParam('lon', null);
            const existing_rad = getUrlParam('rad', null);

            if (existing_isp_type) {
                $("#isp-type").val(existing_isp_type).change();
            }
            if (existing_provider) {
                $("#provider").val(existing_provider).change();
            }
            if (existing_division) {
                $("#division").val(existing_division).change();
            }
            if (existing_district) {
                $("#district").val(existing_district).change();
            }
            if (existing_upazilla) {
                $("#upazilla").val(existing_upazilla).change();
            }
            if (existing_ward) {
                $("#ward").val(existing_ward).change();
            }
            if (existing_lat) {
                $("#lat").val(existing_lat).change();
            }
            if (existing_lon) {
                $("#lon").val(existing_lon).change();
            }
            if (existing_rad) {
                $("#rad").val(existing_rad).change();
            }
        }

        function map_init(map, options) {
            // map.setView([23.777176, 90.399452], 13);
            var collection = {{ pops|safe }};
            // console.log('before ', collection);
            // collection = sanitizeJSON(collection);
            // collection = JSON.parse(collection);

            var markers = []
            for (pop of collection) {
                var markPoint = L.marker([pop['lat'], pop['lon']]).addTo(map).bindPopup(getPopUpFor(pop));
                markers.push(markPoint);
            }
            if (collection.length > 1) {
                // zoom to fit all markers
                var fg = L.featureGroup(markers);
                // var bounds = L.latLngBounds(markerArray);
                map.fitBounds(fg.getBounds());
            } else {
                map.setView([collection[0]['lat'], collection[0]['lon']], 15);
            }
        }

        $(document).ready(function () {
            setExistingFromUrlParam();

            $("#isp-type").change(function () {
                cleanUrlParams();
                var selectedType = $(this).children("option:selected").val();
                redirectWithParamFilter('isp-type', selectedType);
            });

            $("#provider").change(function () {
                cleanUrlParams();
                var selectedProvider = $(this).children("option:selected").val();
                redirectWithParamFilter('provider', selectedProvider);
            });

            $("#division").change(function () {
                cleanUrlParams();
                var selectedDivision = $(this).children("option:selected").val();
                redirectWithParamFilter('division', selectedDivision);
            });

            $("#district").change(function () {
                cleanUrlParams();
                var selectedDistrict = $(this).children("option:selected").val();
                redirectWithParamFilter('district', selectedDistrict)
            });

            $("#upazilla").change(function () {
                cleanUrlParams();
                var selectedUpazilla = $(this).children("option:selected").val();
                redirectWithParamFilter('upazilla', selectedUpazilla)
            });

            $("#ward").change(function () {
                cleanUrlParams();
                var selectedWard = $(this).children("option:selected").val();
                redirectWithParamFilter('ward', selectedWard)
            });

            $('#load-all-btn').click(function () {
                // alert('clicked');
                var r = confirm("Do you want to load all pop data? (might take a bit longer)");
                if (r == true) {
                    redirectWithParamFilter("all", true)
                } else {
                    return
                }
            });

            $('#load-loc-btn').click(function () {
                var lat = $("#lat").val();
                var lon = $("#lon").val();
                if (lat.length == 0 || lon.length == 0) {
                    alert("Enter Latitude & Longitude value to filter");
                    return;
                }
                try {
                    lat = parseFloat(lat);
                    lon = parseFloat(lon);
                } catch (e) {
                    console.log(e);
                    alert("Enter Latitude and Longitude in decimal format!");
                    return;
                }
                var rad = $("#rad").val();
                if (rad.length == 0) {
                    rad = 5
                    $("#rad").val(rad).change();
                }
                try {
                    rad = parseFloat(rad);
                } catch (e) {
                    console.log(e);
                    alert("Enter Radius in numerical format!");
                    return;
                }
                cleanUrlParams();
                redirectWithLocationFilter(lat, lon, rad);
            });
        });
    </script>
</body>

</html>