#grp-content {
    background: mintcream;
}

h1#grp-admin-title {
    font-size: 1.7rem;
    color: antiquewhite;
}

a.grp-link-internal {
    font-size: 1rem;
}

#grp-breadcrumbs>ul li {
    font-size: 1.2em;
}

.grp-module .grp-row:not(tr) a {
    color: #444;
    font-weight: bold;
}

.grp-font-color, body {
    color: black
}

#grp-navigation a {
    color: whitesmoke;
}

#grp-context-navigation {
    background: azure;
}

.grp-module {
    background: azure;
}

.grp-submit-row.grp-fixed-footer>ul>li {
    margin-bottom: 5px;
    padding: 5px !important;
    background: transparent;
}