html,
body {
    height: 100%;
    margin: 0;
}

hr {
    /* margin-top: 2px; */
    margin-bottom: 2px;
}

.container-fluid {
    min-height: 100%;
    display: grid;
}

.map-sidebar {
    background-color: azure;
    padding-top: 1rem;
}

div.load-count h5 {
    color: gray;
    font-weight: 400;
}

div.form-group {
    margin-top: 2px;
    margin-bottom: 2px;
}

div.form-group label {
    font-size: 0.75em;
    font-weight: bold;
}

select.form-control, input.form-control {
    font-size: 0.85em;
    margin-top: 1px;
    margin-bottom: 0px;
}

.map-content {
    background-color: gray;
    padding: 0;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.leaflet-popup-content-wrapper {
    background-color: antiquewhite;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    display: block;
    white-space: pre-line;
}

div.leaflet-popup-content p {
    color: black;
    line-height: 200%;
}

.leaflet-container {
    -webkit-tap-highlight-color: whitesmoke;
}

.leaflet-popup-tip-container {
    background: transparent;
}